$blue: #1ba0ed;
$font-mont: 'Montserrat', sans-serif;
$red: #F95A60;
$pink: #FCC3BD;
$gray: #a0adbb;

.main-container {
    position: relative;
    top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    box-sizing: border-box;
}

.search-and-map-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;
    width:100%;
    //height: 100%;
    // flex-wrap: wrap;
}

@media screen and (max-width: 850px) {
    .search-and-map-container {
        flex-direction: column;
        justify-content: flex-start; 
    }
}

.map-container {
    width: 100%;
    // min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
}

.test-points-container {
    // background-color: gold;
    // display:flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // min-height: 100px;
}