$blue: #1ba0ed;
$font-mont: 'Montserrat', sans-serif;
$red: #F95A60;
$pink: #FCC3BD;
$gray: #a0adbb;
$light-gray: #f0f0f0;

.booking-container{
    margin-top: 80px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: $font-mont;
}

.booking-show-container{

}

.booking-info-container{
    color:$red;
    
}