$blue: #1ba0ed;
$font-mont: 'Montserrat', sans-serif;
$red: #F95A60;
$pink: #FCC3BD;
$gray: #a0adbb;

.navbar-main-container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 5;
    height: 50px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.07);
}

.navbar-left-container {
    width: 40%;
    background-color: white;
}

.navbar-right-container {
    box-shadow: none;
    position: relative;
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;

}

.logo-img {
    z-index: 6;
    width: 100%;
    height: 100%;
    max-width: 180px;
    object-fit: cover;
}

.signup-button-container {
    // position: absolute;
}

.signup-button, .login-button {
    z-index: 8;
    color: $blue;
    font-family: $font-mont;
    text-decoration: none;
    font-size: 15px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.navbar-button {
    //display: block;
    z-index: 11;
    color: $red;
    font-family: $font-mont;
    text-decoration: none;
    font-size: 15px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid $pink;
    position: relative;
    height: 100%;
    //height: 35px;
    //vertical-align: middle;
    text-align: center;
    margin-right: 5px;
    margin-top: 5px;
}


.navbar-button:hover {
    cursor: pointer;
    background-color: $red;
    color: white;
}

.hamburger-container {
    display:none;

}

.hamburger-button > img {
    height: 25px;
    width: auto;
}

.hamburger-button {
    
    background-color: white;
    border: none;
    padding: 5px;
}

.hamburger-dropdown {
    display:none;
    position:relative;
    right: -30px;
    bottom: -35px;
    width:70px;
    height:40px;
    background-color:white;
    border:1px solid #E6787C;
    z-index:12;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.hamburer-dropdown.hidden {
    display:none
}



/* main banner */

.main-banner-container {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    color: white;
    // z-index: 10;
    font-family: $font-mont;
}

// .banner-pic {
//     width: 100%;
//     height: 100%;
// }

.banner-photo {
    width: 100%;
    height: 550px;
    // z-index: 10;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://minicram-dev.s3.amazonaws.com/images/travel-pic.png');
}

.banner-heading {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 50px;
  width: 100%;
}

.banner-subheading {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 30px;
  max-width: 800px;
}

.banner-subheading-two {
  position: absolute;
  top: 270px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 30px;
  max-width: 800px;
}

.banner-button {
    background-color: white;
    color: $red;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

.banner-button:hover {
    background-color: $red;
    color: white;
}


/* shipper and carrier posts */

.main-post-container {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    color: white;
    font-family: $font-mont;
}

.main-post-search-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 50px;
    width: 100%;
}

.main-post-search-header {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 50px;
    width: 100%;
}

.post-search-container {
    border-radius: 3px;
    position: fixed;
    top: 50%;
    left: 50%;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    margin: 0 auto;
    width: 70%;
    margin-top: 15px;
    // border-style: border-box;
}

.post-search-inner-container {
    padding: 64px;
    padding-top: 20px;
    min-height: 600px;
    // border-style: border-box;
    // margin: 0 auto;
}

.post-background-pic {
    width: 100%;
    height: 100%;
}

.search-icons {
    display: flex;
    justify-content: space-evenly;
}

.search-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.search-icon {
    padding: 5px;
}

.search-icon-clicked {
    border-bottom: 2px solid $red;
    padding: 5px;
}

.search-icon-clicked:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.navbar-user-container{
    display: flex;
    align-items: center;
}

.user-greeting{
    color: $red;
    font-family: $font-mont;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    position: relative;
    top: 30%;
    margin-right: 5px;
    margin-top: 5px;
}

.carrier-search-label, 
.shipper-search-label {
    margin-top: 5px;
    margin-bottom: 20px;
}

.carrier-search-container, 
.shipper-search-container  {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-right: 20px;
    width:100%,
    
}

.shipper-search-input,
.carrier-search-input {
    min-height: 30px;
    border: 1px solid $pink;
    border-radius: 5px;
    outline: none;
    margin-bottom: 15px;
    font-family: $font-mont;
    font-size: 17px;
    padding: 5px;
}

.carrier-search-container > span, 
.shipper-search-container > span {
    font-family: $font-mont;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
}

.carrier-search-container > button, 
.shipper-search-container > button {
    border-radius: 5px;
    min-height: 20px;
    background-color: white;
    border: 1px solid $gray;
    padding: 10px;
    font-family: $font-mont;
    font-size: 20px;
}

.carrier-search-container > button:hover, 
.shipper-search-container > button:hover {
    cursor: pointer;
    background-color: $red;
    border: 1px solid $gray;
    padding: 10px;
    font-family: $font-mont;
    font-size: 20px;
    color: white;
}

input[type="date"] {
    text-align: center;
    font-family: $font-mont;
}


/* media queries */


@media screen and (max-width: 850px) {
    .navbar-left-container {
        width: 100%;
        
    }

    .navbar-button {
        display: none;
    }

    .navbar-main-container {
        overflow: unset;
        z-index:12;
    }

    .hamburger-container {
        display: flex;
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 980px) {
    .banner-photo {
        width: 100%;
        min-height: 600px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('https://minicram-dev.s3.amazonaws.com/images/travel-pic.png');
    }

    .main-banner-container {
        display: none;
    }

    .user-greeting{
        display: none;
    }
    .post-search-container {
      
        margin-top: 50px;
    }

    .post-search-inner-container{
        padding-top: 20px;
        min-height: 400px;
    }
    .navbar-button {
        height: 100%;
        font-size: 15px;
    }

    .navbar-right-container{
        min-width: 35%;
    }

    .carrier-search-label{
        font-size: 30px;
    }

    .navbar-user-container .navbar-button{
        font-size: 15px;
    }
}