$blue: #1ba0ed;
$font-mont: 'Montserrat', sans-serif;
$red: #F95A60;
$pink: #FCC3BD;
$gray: #a0adbb;
$light-gray: #f0f0f0;

.search-form-container{
    margin-top: 50px;
}

.carrier-list-container {
    top: 50%;
    background-color: #d9e9f7;
    padding: 240px;
    padding-top: 20px;
}

.carrier-post-heading {
    font-family: $font-mont;
    font-size: 35px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 55px;
}

.carrier-post-list-item-container {
    border: 1px solid $light-gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: white;
}

.carrier-post-show-item {
    text-decoration: none;
    color: black;
    font-family: $font-mont;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.carrier-post-show-item:hover {
    color: $red;
}


.carrier-post-list-item-left {
    margin-top: 10px;
    margin-left: 40px
}


.carrier-post-list-item-right {
    margin-top: 2px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    min-width: 40%;
    position: relative;
}

.carrier-post-list-item-right > div {
    padding-top: 10px;
}

.price {
    margin-right: 40px;
}

.carrier-post-subheading-container {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
    width: 96%;
    margin: 0 auto;

}

.carrier-post-subheading-left {
    font-family: $font-mont;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    width:40%;
    // border-bottom: 1px solid black;
}

.carrier-post-subheading-mid{
    font-family: $font-mont;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    width:30%;
}

.carrier-post-subheading-right {
    font-family: $font-mont;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    // border-bottom: 1px solid black;
    width:30%;
}

